<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">QualityExperienceUI</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="templates">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Templates
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="monitoreo">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Monitoreo
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="services">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Services
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="temporal-forms">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> TemporalsForms
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="test">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Test
            </NavLink>
        </div>
    </nav>
</div>

